body{
	font-size: 24px;
    background-color: white;
    font-family: 'Archivo', sans-serif;
}
#nav{
	border:1px solid white;
	padding:8px;
	color:white;
}
#header{
	background-color:yellow;
	margin-top: 1em;
	width:100%;
	height: 2.5em;
}
a{
    text-decoration:none;
}
.footer{
    width:100%;
    line-height:40px;
    background-color:#F7C244;
    text-align:center;
}
ul{
    display:inline;
}
li{
    display:inline;
}
#facebook{
    margin-right:0.5rem;
}
#insta{
    margin-right:0.5rem;
}
.knop{
    margin-top:2rem;
    margin-bottom:2rem;
    margin-left:5rem;
    padding:20px 50px;
    font-size:1.5rem;
    font-weight:800;
    display:block;
    background-color:#F7C244;
    border-color:#F7C244;
    color:#212528;
}
.bar-sticky{
    position:sticky;
    top: 0;
    z-index: 1000000000;
    width:100%;
    background-color: #EBD923;
    height:70px;
}
.bar-sticky>ul {
    list-style:none;
    padding:0;
}
.dropDownContent {
    display: none;
    color:#545454;
    background-color:#EBD923;
    border:0.2px solid black; 
    line-height: 20px;
    padding-left:1rem;
}
.bar-sticky>ul:hover>li{
    display:block;
}
.top{
    list-style:none;
    padding:0;
}
.top:hover>li{
    display:block;
}
.downDropContent{
    margin-top:0rem;
    display:none;
    color:#7F7F7F;
    border:0.2px solid black;
    line-height:20px;
    padding-left:1rem;
}
#bartop{
    margin-top:10px;
    margin-left:20px;
    padding:10px 20px;
    font-size:30px;
    color:#F5ECA6;
    border:1px solid #EDDD5E;
}
#barbottom{
    display:inline-block;
    margin-left:20px;
    font-size:30px;
    padding:10px 20px;
    color:#7F7F7F;
    border:0.02px solid #E5E5E5;
}
hr{
    color:#DFDFDF;
    background-color:#DFDFDF;
    margin-left:1rem;
    margin-bottom:1rem;
    width:90%;
}
h1{
    display:inline-block;
    font-size:19px;
    font-weight: 400;
    margin-bottom:1rem;
}
.text{
    margin-left:2rem;
    width:75%;
}
#icoon{
    margin-left:2rem;
    color:#545454;
    font-size:21px;
}
#icoon1{
    margin-top:1rem;
    margin-left:2rem;
    color:#545454;
    font-size:21px;
}
#icoon2{
    margin-top:2rem;
    margin-left:2rem;
    color:#2B2F32;
    font-size:21px;
}
.video{
    margin-top:4rem;
    width:95%;
    height:15rem;
    margin-left:1rem;
}
p{
    font-weight:500;
    font-size:16px;
    color:#212528;
}
#logo{
    position: relative;
    margin-left:12rem;
    right:2px;
    top:14px;
    width:150px;
    height:3.1rem;
}
#header{
    width:100%;
    height:12rem;
    margin-top:1rem;
    margin-bottom:1.5rem;
}










@media(min-width: 678px){
    .bar-sticky>ul{
        list-style-type:none;
        padding:0;
    }
    #phone{
        margin-left:40rem;
    }
    .bar-sticky{
        height:40px;
    }
    .dropDownContent {
        margin-top:0.8rem;
        border:none;
        display:inline-block;
        color:#545454;
    }
    .bar-sticky>ul:hover>li{
        display:inline-block;
    }
    .top{
        display:inline-block;
        position:relative;
        padding:0;
        bottom:1rem;
        font-size:1.2rem;
    }
    .top:hover>li{
        display:inline-block;
    }
    .downDropContent{
        display:inline;
        color:#7F7F7F;
        border:none;
    }
    #bartop{
        display:none;
        float:right;
    }
    #barbottom{
        float:right;
        display:none;
    }
    hr{
        color:#DFDFDF;
        background-color:#DFDFDF;
        width:80%;
    }
    h1{
        display:inline-block;
        font-size:19px;
        font-weight: 400;
    }
    .text{
        margin-left:2rem;
    }
    #icoon{
        margin-left:2rem;
        color:#545454;
        font-size:21px;
    }
    #icoon1{
        margin-top:0rem;
        margin-left:2rem;
        color:#545454;
        font-size:21px;
    }
    #barText{
        bottom:1rem;
        position: relative;
    }
    #barText1{
        bottom:1rem;
        position: relative;
    }
    #barText2{
        bottom:1rem;
        position: relative;
    }
    #icoon2{
        margin-top:0rem;
        margin-left:2rem;
        color:#2B2F32;
        font-size:21px;
    }
    .video{
        width:97%;
        height:40rem;
        margin-left:1.5rem;
    }
    p{
        display:inline-block;
        font-weight:500;
        font-size:16px;
        color:#212528;
    }
    #logo{
        position:relative;
        display:inline-block;
        margin-left:11rem;
        right:2px;
        top:2rem;
        width:400px;
        height:7rem;
    }
    #header{
        margin-top:1.5rem;
        width:100%;
        height:38rem;
        margin-bottom:1.5rem;
    }
    .boxtext{
        width:33.33%;
        float:left;
    }
    .knop{
        margin-left:1.8rem;
    }
}