body{
    background-color: lightgray;
}
.header{
    width:100%;
    height:80px;
    position: fixed;
    left: 0;
    top:0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
    background-color:black;
    position: fixed;
    left: 0;
    top:80px;
    width: 100%;
    text-align: center;
}
ul li{
    display:inline-block;
}
ul li a{
    text-decoration: none;
    color:white;
    margin:50px;
    font-size: 18px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    text-align: center;
    color:white;

}











