body{
	text-align: center;
	background-size:cover;
}

#title{
	font-size: 48px;
}

#description{
	font-size: 24px;
}

.picture{
	width:1000px;
	height:100px;
}


#button1, #button2, #button3{
	font-size:20px;
	height:50px; 
	width:130px;
	background-color: lightgrey;
	margin:0 5px;
}




#item1{
	height:150px;
	width:100px;
	position: relative;
	top:350px;
	right:740px;
}


